<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"hasParallax":true,"dimRatio":50,"overlayColor":"highlight","isUserOverlayColor":true,"isDark":false,"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light has-parallax" style="margin-top:0;margin-bottom:0"><span aria-hidden="true" class="wp-block-cover__background has-highlight-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"style":{"typography":{"textAlign":"center"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"x-large"} /-->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"textAlign":"center"}},"textColor":"base","fontSize":"medium"} -->
<p class="has-text-align-center has-base-color has-text-color has-link-color has-medium-font-size">This is for WordPress Site #3 (School) in the BCIT FWDP 3600 course.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:post-content {"layout":{"type":"default"}} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->