<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":70,"overlayColor":"highlight","isUserOverlayColor":true,"align":"center","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover aligncenter" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><span aria-hidden="true" class="wp-block-cover__background has-highlight-background-color has-background-dim-70 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"level":1,"style":{"typography":{"textAlign":"center"}}} /--></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","metadata":{"name":"main"},"className":"site-main","style":{"spacing":{"blockGap":"0","margin":{"top":"var:preset|spacing|30","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group site-main" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:0"><!-- wp:post-content {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"62.5rem"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->